{% extends "base.html" %}

{% block about %}
	class="active"
{% endblock %}

{% block mainbar %}
	<div class="article">
		<h2><span>特种设备预约系统</span></h2><div class="clr"></div>
		<p>特种设备预约系统是由西安交通大学计算机系开发的，可以进行特种设备的查询，网上预约，有偿使用，自动化管理，使用效率分析的系统，以达到开放式管理，在设备有效期内充分发挥设备使用频率和作用。实现校内外用户的分时共享。</p>
	</div>

	<div class="article">
		<h2><span>联系我们</span></h2><div class="clr"></div>
		<p><a href="mailto:qy.zhang1105@gmail.com"> qy.zhang1105@gmail.com </a></p>
		<p> +86 13888888888 <br /> +029 88888888 </p>
		<p>地址：陕西省西安市咸宁西路28号</p>
	</div>
{% endblock %}
